.course-item-lessons {
    margin-top: 20px;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 0;
    $block:&;

    &__item {
        font-size: 16px;
        padding-bottom: 10px;
        margin-bottom: 15px;
        border-bottom: 1px dashed rgba(39, 39, 39, 0.3);
        &--preview {
            &:nth-child(2) {
                #{ $block }__link {
                    color: rgba(39, 39, 39, 0.6);
                    &:hover {
                        color: $edu-primary;
                    }
                }

            }
            &:nth-child(3) {
                #{ $block }__link {
                    color: rgba(39, 39, 39, 0.25);
                    &:hover {
                        color: $edu-primary;
                    }
                }
            }
            &:last-child {
                padding-bottom: 0;
                border-bottom-color: transparent;
            }
        }
    }
    &__link {
        display: block;
        font-weight: 500;
        color: $text-color;
        &:hover {
            color: $edu-primary;
        }
        &--flex {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

    }
    &__price {
        font-weight: 700;
    }
    &__btn {
        border: 1px solid rgba(106, 137, 204, 0.65) !important;
        color: $edu-primary !important;
        border-radius: 4px !important;
        padding: 6px 10px !important;
        font-size: 16px !important;
        font-weight: 600 !important;
        &:focus {
            outline: none !important;
            box-shadow: none !important;
        }
    }
}
