.course-item {
    position: relative;
    padding: 25px 30px;
    background: #FFFFFF;
    box-shadow: 0 0 22px rgba(150, 150, 150, 0.25);
    border-radius: 15px;
    margin-bottom: 20px;
    &--yege {
        &:before {
            font-family: 'Raleway', sans-serif;
            font-size: 16px;
            position: absolute;
            padding: 5px 13px;
            color: #fff;
            border-radius: 5px;
            transform: rotate(270deg) ;
            background-color: #6A89CC;
            content: "Подготовка к ЕГЭ";
            font-weight: 600;
            left: -90px;
            top: 45%;
        }
    }
    &__title {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 0;
        margin-top: 0;
        &--big {
            font-size: 36px;
        }
    }
    &__link {
        display: inline-block;
        color: $text-color;
        text-decoration: none;
        &:hover {
            color: $edu-primary;
            text-decoration: none;
        }
    }
    &__heading {
        display: flex;
        justify-content: space-between;
        padding-bottom: 15px;
        border-bottom: 1px solid rgba(39, 39, 39, 0.16);
        margin-bottom: 30px;
    }
    &__content {
        display: flex;
        justify-content: space-between;
        padding-bottom: 20px;
    }
    &__img {
        border-radius: 5px;
        overflow: hidden;
        width: 17%;
        max-width: 17%;
        flex: 1 17%;
        padding-right: 20px;
    }
    &__descr {
        color: rgba(39, 39, 39, 0.65);
        font-size: 16px;
        font-weight: 500;
        &--lesson {
            max-height: 250px;
            overflow: hidden;
            position: relative;
            &:after {
                content: "";
                position: absolute;
                top:0;
                left: 0;
                width: 100%;
                height: 250px;
                z-index: 2;
                background: linear-gradient(transparent, rgba(255,255,255,0.85));
            }
        }
    }
    &__right {
        width: 23%;
        max-width: 23%;
        flex: 1 23%;
        padding-left: 20px;
        &--text-right {
            text-align: right;
        }
    }
    &__main {
        width: 60%;
        max-width: 60%;
        flex: 1 60%;

    }
    &__price {
        font-variant-numeric: lining-nums;
        font-feature-settings: "lnum";
        -moz-font-feature-settings: "lnum=1";
        -ms-font-feature-settings: "lnum";
        -webkit-font-feature-settings: "lnum";
        -o-font-feature-settings: "lnum";
        margin-bottom: 10px;
        font-size: 28px;
        font-weight: 700;
    }
    &__footer {
        padding-top: 15px;
        border-top: 1px solid rgba(39, 39, 39, 0.16);
        display: flex;
        flex-wrap:wrap ;
        align-items: center;
        justify-content: space-between;
        &-right {
            display: flex;
            align-items: center;
        }
    }
    &__author {
        font-size: 14px;
        font-weight: 500;
        &-label {
            color: rgba(39, 39, 39, 0.65);
        }
        &-value {
            color: $body-color !important;
            text-decoration: underline !important;
            &:hover {
                color: $body-color !important;
            }
        }
        &-icon {
            margin-left: 5px;
            width: 16px;
            height: 16px;
        }
    }
    &__btn {
        background-color: $edu-primary !important;
        color: #fff !important;
        border-radius: 5px !important;
        padding: 10px 30px !important;
        font-size: 16px !important;
        font-weight: 600 !important;
        &:focus {
            outline: none !important;
            box-shadow: none !important;
        }
    }
    &__buy {
        margin-top: 15px;
        font-weight: 700;
        font-size: 20px;
        &-link {
            color: $edu-primary;
            text-decoration: underline !important;
            &:hover {
                text-decoration: none;
            }
        }
    }
    &__icon {
        width: 18px;
        height: 18px;
    }
    &__types {
        margin-bottom: 0;
        list-style-type: none;
        margin-left: 20px;
        padding-left: 0;
        display: flex;
        &-item {
            padding-left: 6px;
            padding-right: 6px;
        }
    }
}
