.profile-data {
    border: 1px dashed #99aedb;
    padding: 50px;
    border-radius: 15px;
    display: flex;
    flex-wrap:wrap;
    margin-bottom: 25px;
    &__left {
        width: 170px;
        max-width:170px;
        min-width: 170px;
    }
    &__content {
        flex:1;
        padding-left: 30px;
        padding-top: 5px;
        @include media-breakpoint-up(xl) {
            padding-left: 50px;
        }
    }
    &__fullname {
        font-weight: 700;
        font-size: 28px;
        margin-bottom: 10px;
    }
    &__actions {
        display: flex;
        margin-bottom: 25px;
        align-items: center;
    }
    &__edit-btn{
        margin-left: 30px;
        font: 500 14px "Raleway", sans-serif;
        text-decoration: underline;
        color: #4B4B4B;
    }
    &__type {
        color: rgba(39, 39, 39, 0.5);
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 0;
    }
}
.profile-data-avatar {

    &__upload {
        padding: 10px;
        margin-bottom: 30px;
    }
    &__img {
        height: 170px;
        width: 170px;
        border-radius: 100%;
    }
}
.profile-data-head {
    padding: 12px 15px;
    border-radius: 5px;
    background-color: #99AEDB;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 25px;
    margin-top: 25px;
}

.profile-data-item {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 15px;
    &__label {
        color: rgba(39, 39, 39, 0.5);
        min-width: 30%;

    }
    &__value {
        flex: 1;
    }
}
.profile-data-notifications {
    display: flex;
    align-items: center;
    &__label {
        margin-bottom: 0;
        font-weight:600;
        font-size: 16px;
        margin-right: 15px;
    }
    &__switch {
        .el-switch__core {
            &:after {
                background-color: #6A89CC;
            }
        }
        &.el-switch.is-checked {
            .el-switch__core {
                border-color: #99AEDB;
                background-color: #99AEDB;
            }
        }
    }
}
.profile-data-transactions {
    background: #F6F6F6;
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    font-size: 16px;
    font-weight: 500;
    &__label {
    color: rgba(39, 39, 39, 0.5)
    }
    &__value {
        color:#6A89CC;
    }
    &__content {
        padding: 12px;
    }
}








