.profile-data {
    width: 40%;
    margin-bottom: 80px;
    &--editing{
        width: 80%;
    }
    @include media-breakpoint-down(md) {
        width: 100%;
    }
}
.profile-data-head {
    padding: 10px;
    border-radius: 5px;
    background-color: #C0CEEC;
    font: 400 1.1rem "RobotoMedium", sans-serif;
    color: #fff;
}
.profile-data-body {
    padding: 10px 0px;
    &__item {
        display: flex;
        justify-content: space-between;
        padding: 10px 15px;
    }



}








