.search-teachers-filter {
    margin-top: 40px;
    margin-bottom: 60px;
    &__item {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 25px;
        align-items: center;
    }
    &__label {
        width: 40%;
        max-width: 40%;
        flex: 1 40%;
        font-size: 17px;
        font-weight: 500;
        color: rgba(39, 39, 39, 0.3);
        @include media-breakpoint-up(xxl) {
            width: 35%;
            max-width: 35%;
            flex: 1 35%;
        }
        &--selected {
            color: $text-color;
        }
    }
    .el-select {
        @include media-breakpoint-up(lg) {
            width: 40%;
        }
        @include media-breakpoint-up(xxl) {
            width: 35%;
        }
        &__caret {
            color: $text-color !important;
        }
        .el-input__inner {
            box-shadow: 0px 10px 14px rgba(0, 0, 0, 0.05);
        }
    }
    .el-select .el-input.is-focus .el-input__inner {
        border-color: $edu-primary;
    }
    .el-select .el-input__inner:focus {
        border-color: $edu-primary;
    }
}
