.instruction-page {
    &__title {
        margin-top: 70px;
        font-size: 42px;
        margin-bottom: 30px;
        color: #6A89CC;
        font-weight: 700;
    }
    &__content {
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 100px;
    }
}
