.edu-cat-list {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    &__item {
        padding: 8px;
        border-radius: 2px;
        border: 1px dashed #ccc;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
    }
    &__title {
        margin-bottom: 0;
        margin-right: 8px;
    }
}
