.message-files {
    margin-top: 15px;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    &__item {
        margin-bottom: 5px;
    }
    &__link {
        color: #67C23A;
        text-decoration: none;
        &:hover, &:focus {
            color: #67C23A;
        }
    }
}
