.test-result-list{
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    &__item{
        padding: 20px 0;
       border-bottom: 1px solid #ccc;
        &-count {
            font-size: 14px;
            font-weight: 700;
            margin-bottom: 10px;
        }
        p {
            margin-bottom: 0;
        }
        &-question{
            margin-bottom: 10px;
        }
    }
}
