.el-form-item__label{
    padding: 0 !important;
    margin-bottom: 0;
}
.label-height-0{
    .el-form-item__label{
        line-height: 1;
        padding-bottom: 0.2rem !important;
    }
}

.form-checkbox {
    &__checkmark {
        cursor: pointer;
        display: block;
        position:relative;
        top: 0;
        left: 0;
        height: 16px;
        width: 16px;
        border: 1px solid #CDCDCD;
        margin-right: 8px;

        &:after {
            content: "";
            position: absolute;
            display: none;
            left: 7px;
            top: 2px;
            width: 8px;
            height: 15px;
            border: solid #d92344;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
        }
    }
}
