.el-form-item__label{
    padding: 0 !important;
    margin-bottom: 0;
}
.label-height-0{
    .el-form-item__label{
        line-height: 1;
        padding-bottom: 0.2rem !important;
    }
}

.form-checkbox {
    &__checkmark {
        cursor: pointer;
        display: block;
        position:relative;
        top: 0;
        left: 0;
        height: 16px;
        width: 16px;
        max-width: 16px;
        border: 1px solid #CDCDCD;
        margin-right: 8px;

        &:after {
            content: "";
            position: absolute;
            display: none;
            left: 4px;
            top: 0;
            width: 6px;
            height: 11px;
            border: solid #fff;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
        }
        &--selected {
            border-color: $edu-primary;
            background-color: $edu-primary;
            &:after {
                display: block;
            }
        }
    }
}
.form-control {
    &:hover, &:focus {
        outline: none;
        box-shadow: none;
    }
}
