.restore-pass-link {
    font-weight: bold;
    color: $blue;
    text-decoration: none;
    &:hover {
        text-decoration: none;
        color: $blue;
    }
    &__wrap {
        margin-top: 20px;
        text-align: right;
    }
}
